/.gradle/
/composeApp/build/
/build/

/core-database/build/
/core-network/build/

/game/ui/build/
/game/data/build/
/game/domain/build/

/favourite/data/build/
/favourite/domain/build/
/favourite/ui/build/

/search/data/build/
/search/domain/build/
/search/ui/build/
